.item {
	background:#fff;
	border:1px solid #e8e8e8;
	padding:1.3rem;
	margin-bottom:1.3rem;
	.item__message {
		font-size:1.3rem;
		font-weight:300;
		text-align: center;
		font-style:italic;
	}
	&.position-1 {
		background:$green;
		border-color:$green-alt;
	}
	&.position-2 {
		background:$blue;
		border-color:$blue-alt;
	}
	&.position-3 {
		background:$red;
		border-color:$red-alt;
	}
}