.player {
	display:flex;
	align-items:center;
	justify-content:space-between;
	.name {
		font-weight:300;
		font-size:1.8rem;
	}
	.stats {
		font-style:italic;
		font-size:1.3rem;
		font-weight:300;
	}
	.actions {
		flex-shrink:0;
	}
}